// div{
//     background-attachment: ;
// }

#myDIV {
    width: 200px;
    height: 200px;
    // border-radius: 50%;
    // background-color: gray;
    // opacity: 0.3;
    // animation-name: binii;
    .kataa{
        
        background-color: red;
        width: 15px;
        height: 15px;
        animation-name: binnn;
        animation-duration: 1s;
        animation-fill-mode: forwards;
        // opacity: 1;
    }
}


  
@keyframes binnn {
    from {width: 15px; height: 15px; border-radius: 50%; visibility: hidden;}
    to {
        width: 200px; height: 200px; transform: rotate(360deg); visibility: visible;
        border-radius: 50%;
    }
}


