.img{
    background: url(../scss/img/viber_image_2020-10-28_12-19-45.jpg) no-repeat center;
    background-size: cover;
    
    
}

.photo{
    background: url(../scss/img/viber_image_2020-10-28_12-19-45.jpg) no-repeat center;
    background-size: cover;
    
}