.mtavari {
  position: relative;
  max-width: 1200px;
  width: 100%;
  height: 1200px;
  margin: auto;
  background: #46062b; }
  .mtavari .absolut {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 128, 32, 0.01);
    z-index: 2; }
  .mtavari .left {
    float: left;
    width: 40%;
    height: 100%;
    background-color: rgba(127, 255, 212, 0.501);
    margin: 0%;
    padding-top: 15px; }
    .mtavari .left .photo {
      margin: auto;
      width: 40%;
      height: 15%;
      border-radius: 50%; }
    .mtavari .left .about_me {
      margin: 0% 0% 0% 25%;
      width: 50%;
      height: 35%;
      padding: 20px; }
      .mtavari .left .about_me .about {
        font-family: 'Yusei Magic', sans-serif;
        width: 340px;
        padding-bottom: 7px;
        transition: border-bottom 2s; }
      .mtavari .left .about_me .about_par {
        font-family: 'Open Sans Condensed', sans-serif;
        margin-top: 20px;
        text-align: justify;
        font-size: 20px; }
    .mtavari .left .reference {
      margin: 0% 0% 0% 25%;
      width: 50%;
      height: 35%;
      background-color: #00e5ff; }
    .mtavari .left .contact {
      margin: 0% 0% 0% 25%;
      height: 15%;
      padding: 20px; }
      .mtavari .left .contact .about1 {
        font-family: 'Yusei Magic', sans-serif;
        width: 342px;
        padding-bottom: 7px;
        transition: border-bottom 2s; }
      .mtavari .left .contact .about_par1 {
        font-family: 'Potta One', cursive;
        margin-top: 20px;
        text-align: justify; }
  .mtavari .right_left {
    float: left;
    width: 60%;
    height: 100%;
    background: rgba(71, 83, 75, 0.6); }
    .mtavari .right_left .giorgi {
      position: relative;
      float: left;
      width: 100%;
      height: 15%;
      padding: 20px; }
      .mtavari .right_left .giorgi h1 {
        margin-bottom: 7px;
        font-family: 'Yusei Magic', sans-serif;
        font-size: 25px;
        margin-left: 15.5px; }
      .mtavari .right_left .giorgi .xazi {
        visibility: hidden;
        height: 2px;
        width: 1px;
        background: gray;
        margin-top: 7px;
        margin-left: 15.5px;
        transition: width 2s; }
      .mtavari .right_left .giorgi .warwera_xazit {
        font-family: 'Yusei Magic', sans-serif;
        position: absolute;
        left: 10%;
        bottom: 0;
        width: 90%;
        padding-bottom: 7px;
        transition: border-bottom 2s; }
    .mtavari .right_left .xazi_rgoli {
      position: relative;
      float: left;
      width: 10%;
      height: 35%; }
      .mtavari .right_left .xazi_rgoli .vertical {
        position: absolute;
        width: 1px;
        height: 100%;
        background: gray;
        left: 50%;
        transform: translate(-50%); }
      .mtavari .right_left .xazi_rgoli .rgoli1 {
        position: absolute;
        width: 16px;
        height: 16px;
        background: gray;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%);
        top: 105%;
        animation-name: rgoli1;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-out; }
      .mtavari .right_left .xazi_rgoli .rgoli2 {
        position: absolute;
        width: 16px;
        height: 16px;
        background: gray;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%);
        top: 105%;
        animation-name: rgoli2;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in-out; }
      .mtavari .right_left .xazi_rgoli .rgoli3 {
        position: absolute;
        width: 16px;
        height: 16px;
        background: gray;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%);
        top: 105%;
        animation-name: rgoli3;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease-in; }
    .mtavari .right_left .clebi {
      float: left;
      width: 20%;
      height: 35%; }
      .mtavari .right_left .clebi .celi {
        width: 50%;
        margin-top: 20px; }
      .mtavari .right_left .clebi .celi1 {
        width: 50%;
        margin-top: 120px; }
      .mtavari .right_left .clebi .celi2 {
        width: 50%;
        margin-top: 120px; }
    .mtavari .right_left .nawerebi {
      font-family: 'Open Sans Condensed', sans-serif;
      float: left;
      width: 70%;
      height: 35%;
      padding: 20px; }
      .mtavari .right_left .nawerebi .web_qveda {
        padding: 10px 0 10px 0; }
      .mtavari .right_left .nawerebi .text {
        text-align: justify; }
      .mtavari .right_left .nawerebi .web {
        margin-top: 35px; }
    .mtavari .right_left .xazi_rgoli1 {
      position: relative;
      float: left;
      width: 10%;
      height: 30%; }
      .mtavari .right_left .xazi_rgoli1 .vertical {
        position: absolute;
        width: 1px;
        height: 75.5%;
        background: gray;
        left: 50%;
        transform: translate(-50%); }
      .mtavari .right_left .xazi_rgoli1 .rgoli1 {
        position: absolute;
        width: 16px;
        height: 16px;
        background: gray;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%);
        top: -135%;
        animation-name: rgoli4;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-timing-function: ease; }
      .mtavari .right_left .xazi_rgoli1 .rgoli2 {
        position: absolute;
        width: 16px;
        height: 16px;
        background: gray;
        border-radius: 50%;
        left: 50%;
        transform: translate(-50%);
        top: -135%;
        animation-name: rgoli5;
        animation-duration: 2s;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards; }
    .mtavari .right_left .clebi1 {
      float: left;
      width: 20%;
      height: 30%; }
      .mtavari .right_left .clebi1 .celi {
        width: 50%;
        margin-top: 20px; }
      .mtavari .right_left .clebi1 .celi1 {
        width: 50%;
        margin-top: 120px; }
      .mtavari .right_left .clebi1 .celi2 {
        width: 50%;
        margin-top: 120px; }
    .mtavari .right_left .nawerebi1 {
      font-family: 'Open Sans Condensed', sans-serif;
      float: left;
      width: 70%;
      height: 30%;
      padding: 20px; }
      .mtavari .right_left .nawerebi1 .web_qveda {
        padding: 10px 0 10px 0; }
      .mtavari .right_left .nawerebi1 .text {
        text-align: justify; }
      .mtavari .right_left .nawerebi1 .web {
        margin-top: 35px; }
    .mtavari .right_left .bolo {
      position: relative;
      float: left;
      width: 100%;
      height: 16.21%; }
      .mtavari .right_left .bolo .skills {
        font-family: 'Yusei Magic', sans-serif;
        position: absolute;
        top: 15%;
        left: 10%;
        border-bottom: 2px solid gray;
        width: 90%;
        padding-bottom: 7px;
        z-index: 1; }
      .mtavari .right_left .bolo .personal {
        position: absolute;
        float: left;
        width: 50%;
        height: 100%; }
        .mtavari .right_left .bolo .personal .pers {
          font-family: 'Open Sans Condensed', sans-serif;
          font-weight: 800;
          position: absolute;
          top: 40.5%;
          left: 20%; }
        .mtavari .right_left .bolo .personal .qveda {
          font-family: 'Open Sans Condensed', sans-serif;
          font-weight: 800;
          position: absolute;
          left: 20%;
          top: 55%; }
        .mtavari .right_left .bolo .personal .borders {
          position: absolute;
          width: 197.5px;
          height: 55.5px;
          left: 45%;
          top: 55%; }
          .mtavari .right_left .bolo .personal .borders .mini_border {
            height: 7px;
            width: 100%;
            background: gray;
            margin-top: 5px;
            border-radius: 15px; }
          .mtavari .right_left .bolo .personal .borders .mini_border1 {
            height: 7px;
            width: 100%;
            background: gray;
            margin-top: 14px;
            border-radius: 15px; }
          .mtavari .right_left .bolo .personal .borders .mini_border2 {
            height: 7px;
            width: 100%;
            background: gray;
            margin-top: 14px;
            border-radius: 15px; }
      .mtavari .right_left .bolo .professional {
        position: absolute;
        float: left;
        width: 50%;
        height: 100%;
        left: 50%; }
        .mtavari .right_left .bolo .professional .prof {
          font-family: 'Open Sans Condensed', sans-serif;
          font-weight: 800;
          position: absolute;
          top: 40.5%;
          left: 20%; }
        .mtavari .right_left .bolo .professional .qveda {
          font-family: 'Open Sans Condensed', sans-serif;
          font-weight: 800;
          position: absolute;
          left: 20%;
          top: 55%; }
        .mtavari .right_left .bolo .professional .borders {
          position: absolute;
          width: 197.5px;
          height: 55.5px;
          left: 45%;
          top: 55%; }
          .mtavari .right_left .bolo .professional .borders .mini_border {
            height: 7px;
            width: 100%;
            background: gray;
            margin-top: 7px;
            border-radius: 15px; }
          .mtavari .right_left .bolo .professional .borders .mini_border1 {
            height: 7px;
            width: 100%;
            background: gray;
            margin-top: 14px;
            border-radius: 15px; }
          .mtavari .right_left .bolo .professional .borders .mini_border2 {
            height: 7px;
            width: 100%;
            background: gray;
            margin-top: 14px;
            border-radius: 15px; }

.chamatema {
  position: relative;
  float: left;
  width: 100%;
  height: 4.3%; }
  .chamatema .cham {
    font-family: 'Yusei Magic', sans-serif;
    position: absolute;
    left: 10%;
    bottom: 0;
    width: 90%;
    padding-bottom: 7px;
    transition: border-bottom 2s; }

@keyframes rgoli1 {
  0% {
    background: aqua;
    top: 105%;
    left: 50%;
    transform: translate(-50%); }
  100% {
    background: gray;
    top: 20px;
    left: 50%;
    transform: translate(-50%); } }

@keyframes rgoli2 {
  0% {
    background: rebeccapurple;
    top: 105%;
    left: 50%;
    transform: translate(-50%); }
  100% {
    background: gray;
    top: 156px;
    left: 50%;
    transform: translate(-50%); } }

@keyframes rgoli3 {
  0% {
    background: #ffe100;
    top: 105%;
    left: 50%;
    transform: translate(-50%); }
  100% {
    background: gray;
    top: 292px;
    left: 50%;
    transform: translate(-50%); } }

@keyframes rgoli4 {
  0% {
    background: #ff00cc;
    top: -135%;
    left: 50%;
    transform: translate(-50%); }
  100% {
    background: gray;
    top: 20px;
    left: 50%;
    transform: translate(-50%); } }

@keyframes rgoli5 {
  0% {
    background: rgba(0, 255, 94, 0.501);
    top: -135%;
    left: 50%;
    transform: translate(-50%); }
  100% {
    background: gray;
    top: 156px;
    left: 50%;
    transform: translate(-50%); } }

.absolut:hover ~ .right_left > .giorgi > .xazi {
  visibility: visible;
  width: 60px; }

.absolut:hover ~ .right_left > .giorgi > .warwera_xazit {
  border-bottom: 2px solid gray; }

.absolut:hover ~ .right_left > .chamatema > .cham {
  border-bottom: 2px solid gray; }

.absolut:hover ~ .left > .about_me > .about {
  border-bottom: 2px solid rgba(102, 0, 128, 0.789); }

.absolut:hover ~ .left > .photo {
  width: 40%;
  height: 15%;
  border-radius: 50%; }

.box1 {
  width: 100px;
  height: 100px;
  background: blue; }

.box2 {
  visibility: hidden;
  position: absolute;
  width: 100px;
  height: 100px;
  background: green;
  animation-name: gioo;
  animation-duration: 3s; }

div {
  margin-bottom: 2px; }

.box1:hover ~ .box2 {
  visibility: visible; }

@keyframes gioo {
  from {
    background: black; }
  to {
    background: red; } }
